:root{
    --black: #1E1E1E;
    --white: #FFFFFF;
    --red: #E00707;
    --grey: #8C8C8C;
    --lightGrey: #EAEAEA;
    --blue: #D4E3ED;
    }

body{
    margin: 0;
    background-color: var(--white);
    font-family: Raleway;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid var(--black) ;
}

.header__logo{
    height: 8rem;
    width: 8rem;}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__link{
    padding: 2rem;
    font-size: 1.8rem;
    font-family: Raleway;
    color: var(--black);
    text-decoration: none;
    font-weight: bolder;
}

.header__link:hover{
    text-decoration: underline
}

.header__menu__icon{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--black)
}

.header__menu__icon:hover{
    text-decoration: underline
}

.header__menu__icon__img{
    height: 2rem;
    width: 2rem;
}

.header__menu__icon__p{
    padding-top: 0.2rem;
    margin-top: 0;
    font-size: 1rem;
}

main{
    padding-left: 2rem;
    margin:0,
}

.form{
    width: 40rem;
    margin:0;
}

input{
    width: 39.5rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

select{
    width: 40rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}

.deliveryForm__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deliveryForm__row__input{
    width: 19rem;
}

.modeExpedition__p{
    background-color: var(--lightGrey);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem var(--grey);
}

.paiementForm__article{
    background-color: var(--lightGrey);
}

.paiementForm__article__entete{
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.paiementForm__article__entete__container__icon{
    width: 2rem;
}

aside{
    width: 40%;
    float: right;
    background-color: var(--lightGrey);
    border-radius: 1rem;
    padding: 1rem;
}

.aside__article{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-top: 1rem;
}

.aside__article__img{
    width:8rem;
}

.aside__article__description{
    padding-left: 1rem;
    height: auto;
    align-content: space-between;
}

.aside__reduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    align-items: center;
    padding-top: 1rem;
}

.aside__reduction__form{
    width: 50%;
    height: 3rem;
    text-align: center;
    border: solid var(--black);
}

.aside__reduction__button{
    background-color: var(--grey);
    border: solid var(--black);
    width: 40%;
    height: 3rem;
    color: var(--white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

h2{font-size: 2rem;}

