/* Deskot et général */

:root{
    --black: #1E1E1E;
    --white: #FFFFFF;
    --red: #E00707;
    --grey: #8C8C8C;
    --lightGrey: #EAEAEA;
    --blue: #D4E3ED; 
    }

body{
    margin: 0;
    background-color: var(--white);
    font-family: Raleway;       
} 

/* Header */

header{
    display: flex;
    flex-direction: row;
    border-bottom: solid var(--black) ;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0,.43,.49,.99);
    animation-name: header;
}

@keyframes header {
    from { 
    opacity: 0;
    transform: translateY(-10rem);}
    to { 
    opacity: 1;
    transform: translateY(0rem);
    }
}

span{display: flex;
flex-direction: row;
align-items: center;}


.header__nav__logo{
    height: 6rem;
    width: 6rem;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__nav__container__deroulant{
    display: none;
}


.header__nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__nav__container__link{
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: none;
    font-weight: bolder;
    margin-left: 3rem;
}

.header__nav__container__link:hover,
.header__nav__container__menu__icon:hover,
.header__nav__container__menu__icon__panier:hover{
    text-decoration: underline
}

.header__nav__container__menu__icon,
.header__nav__container__menu__icon__panier
 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--black)
}

.header__nav__container__menu__icon__img{
    height: 2rem;
    width: 2rem;
}

.header__nav__container__menu__icon__p{
    padding-top: 0.2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}

/* Main */

main{    
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(0,.43,.49,.99);
    animation-name: entrance;
}

@keyframes entrance {
    from { 
    display: none;
    opacity: 0;
    transform: translateY(10rem);}
    to { 
    display: visible ;
    opacity: 1;
    transform: translateY(0rem);
    }
}

.main__entete{
    background-image: url(Ressources/Backgrounds/entete.jpg);
    backdrop-filter: brightness(60%); 
    height: 30rem;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.main__entete__title{
    font-family: Lora;
    color: var(--white);
    font-size: 3rem;
    text-align: center;
    z-index: 3;
}

.main__entete__h3{
    font-family: Lora;
    color: var(--white);
    font-size: 2rem;
    z-index: 3;
}

.main__entete__button{
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    transition-duration: 0.2s;
    z-index: 3;
}

.main__entete__button:hover{
    scale: 110%;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black)
}

.main__genre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.main__genre__homme{
    background-image: url(Ressources/articles/Hommes.webp);
}

.main__genre__femme{
    background-image: url(Ressources/articles/Femmes.webp);
}


.main__genre__homme,
.main__genre__femme{
    height: 40rem;
    width: 35rem;
    background-size: 35rem 42rem;
    background-position: 0rem 0rem;
    display: flex;
    justify-content: end;
    align-items: end;
    border-radius: 1rem;
    border: solid var(--grey);
    transition-duration: 0.2s;
}


.main__genre__homme:hover,
.main__genre__femme:hover{
    scale: 105%;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--grey);
    background-size: 38rem 47rem;
    background-position: -2rem 0rem;
}

.main__genre__homme__title,
.main__genre__femme__title{
    padding-right: 1rem;
    font-size: 3rem;
    font-weight: bolder;
}


.main__populaire{
    display: flex;
    flex-direction: column;    
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.main__populaire__title{
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: var(--black);
}

.main__populaire__title:hover{
    text-decoration: underline;
}

.main__populaire__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main__populaire__container__article,
.main__populaire__container__article_3th{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    border: solid var(--grey);
    width: 26%;
    transition-duration: 0.2s;
    text-decoration: none;
    color: var(--black)
}

.main__populaire__container__article:hover,
.main__populaire__container__article_3th:hover {
    scale: 110%;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--grey);
        .main__populaire__container__article__header__title{
        text-decoration: underline;
    }
}

.main__populaire__container__article__img{
    height: 28rem;
    border-radius: 0.85rem 0.85rem 0 0;
    width: 100%;
}

.main__populaire__container__article__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0
}

.main__populaire__container__article__header__stars__img{
    height: 1rem;
    width: 1rem;
    margin: 0;
}

.main__populaire__container__article__p{
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main__populaire__container__prices{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 1rem;
}

.main__populaire__container__prices__old{
    text-decoration: line-through;
}

.main__populaire__container__prices__new{
    color: var(--red);
    padding-left: 1rem;
}

.main__member{
    background-image: url(Ressources/Backgrounds/background_form.jpg); 
    height: 35rem;
    width: screen;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    margin-top: 4rem;
    z-index: 1;
}

.main__member__title{
    font-family: Lora;
    color: var(--white);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.5rem;
    z-index: 3;

}

.main__member__h3{
    font-family: Lora;
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
    z-index: 3;
}

.main__member__button{
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    transition-duration: 0.2s;
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 3;
}

.main__member__button:hover{
    scale: 110%;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--black)
}

/* footer */

.footer__container{
    display: flex;
    flex-direction: column;
    background-color: var(--lightGrey) ;
    border: solid var(--grey); 
    padding: 1rem;
}

.footer__container__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer__container__links__p{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;
}

.footer__container__links__p:hover{
    text-decoration: underline;
}

.footer__container__socials__img{
    height: 2rem;
    width: 2rem;
    padding: 2rem;
}

.footer__container__socials{
    display: flex;
    justify-content: center;
}

.footer__countries{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-direction: row;

}

.footer__countries__p{
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
    padding: 1rem;
}

.footer__countries__p:hover{
    text-decoration: underline;
}

/* Tablet */

@media screen and (min-width: 480px) and (max-width: 1100px){
    .header__nav__logo{
        height: 6rem;
        width: 6rem;}
    
    .header__nav__container__link{
        padding: 0.8rem;
        font-size: 0.8rem;
        }

    .header__nav__container__menu__icon__p{
        display: none;
    }

    .header__nav__container__menu__icon{
        padding: 1rem;
    }

    .main__genre__homme,
    .main__genre__femme{
        height: 28rem;
        width: 19rem;
        background-position: -8rem 0rem;
    }

    .main__genre__homme:hover,
    .main__genre__femme:hover{
        background-size: 40rem 50rem;
        background-position: -10rem 0rem;
}
    
    .main__populaire__container__article__img{
        height: 18rem;
        border-radius: 1rem 1rem 0 0;
    }


    .main__populaire__container__article__header__stars__img{
        height: 0.8rem;
        width: 0.8rem;
    }


    .footer__countries__p{
        font-size: 0.7rem;
        padding: 1rem;
    }

    .main__entete__title{
        font-size: 2.5rem;
    }
    
    .main__entete__h3{
        font-family: Lora;
        color: var(--white);
        font-size: 1.5rem;
        z-index: 3;
    }

    .footer__countries__p{
        padding: 0.8rem;
    }

}

/* Phone */
    
@media screen and (max-width: 479px){

    .header__nav__logo{
        height: 4rem;
        width: 4rem;
    }

    .header__nav__container__deroulant{
        display:contents;
        transition-duration: 0.5s;
    }

    .header__nav__container__deroulant__sous{
        display: none;
        box-shadow: 0px 1px 2px var(--grey);
        background-color: white;
        position: absolute;
        top: 3rem;
        right: 0rem;
        width: 40%;
        z-index: 3;
        padding-left: 1.5rem;
    }

    .header__nav__container__deroulant:hover{
        .header__nav__container__deroulant__sous{
            display:contents;
            display: flex;
            flex-direction: column;
            animation-name: deroulant;
            animation-duration: 0.4s;
        }
    }

    @keyframes deroulant {from { 
        opacity: 0;
        transform: translateY(-5rem);}
        to { 
        opacity: 1;
        transform: translateY(0rem);
        }
        
    }

    .header__nav__container__deroulant__sous a{
        padding: 0.5rem;
        text-decoration: none;
        color: var(--black);
    }
    .header__nav__container__deroulant__sous a:hover{
        text-decoration: underline;
    }

    li{
        list-style-type: none;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
    }

    .header__nav__container__menu__mobile{
        display:contents;
        height: 1rem;
        width: 1rem;

    }
    .header__nav__container__menu__mobile__img{
        height: 1rem;
        width:1rem;
    }

    .header__nav__container__link{
        display: none;
    }

    .header__nav__container__menu__icon{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--black)
    }
    
    .header__nav__container__menu__icon__p:hover{
        text-decoration: underline
    }
    
    .header__nav__container__menu__icon__img{
        height: 1rem;
        width: 1rem;
    }
    
    .header__nav__container__menu__icon__p{
        color: var(--white);
        height: 0rem;
        width: 0rem;
        display: none;

    }



    .header__nav__container__menu__icon{
        display: none;
    }   

    .main__entete{
        background-image: url(Ressources/Backgrounds/entete.jpg);
        height: 30rem;
    }
    
    .main__entete__title{
        font-size: 2rem;
        text-align: center;

    }
    
    .main__entete__h3{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .main__entete__button{
        width: 18rem;
        z-index: 3;
    }
    
    .main__genre{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    
    }
    
    .main__genre__homme,
    .main__genre__femme{
        height: 20rem;
        width: 11rem;
        background-size: 25rem 35rem;
        background-position: -8rem -2rem;
        @media screen and (max-width: 400px){
            height: 20rem;
            width: 9.5rem;
        }
    }
    
    
    .main__genre__homme:hover,
    .main__genre__femme:hover{
        background-size: 30rem 45rem;
        background-position: -10rem -2rem;
    }
    
    .main__genre__homme__title,
    .main__genre__femme__title{
        padding-right: 1rem;
        font-size: 1rem;
        font-weight:bolder;
    }
    
    .main__populaire{
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .main__populaire__title{
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
    
    .main__populaire__container__article_3th{
        display: none;
    }
    
    .main__populaire__container__article{
        width: 42%; 
    }

    
    .main__populaire__container__article__img{
        height: 15rem;
    }

    .main__populaire__container__article__img__moveUp{
        position: relative;
        height: 12rem;
        @media screen and (max-width: 400px){
            bottom: 0.12rem
        }
    }
    
    .main__populaire__container__article__header{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .main__populaire__container__article__header__stars__img{
        height: 0.5rem;
        width: 0.5rem;
    }

    .main__populaire__container__article__p{
        padding-left: 1rem;
        font-size: 0.8rem;
    }    
    
    .main__member{
        height: 20rem;
        margin-top: 2rem;
        z-index: 1;
        padding: 0.5rem;
    }
    
    .main__member__title{
        font-size: 2rem;
    }
    
    .main__member__h3{
        font-size: 1rem;
        padding: 1%;

    }
    
    .main__member__button{
        width: 7rem;
        font-size: 0.75rem;
        height: 4rem;
    
    }

    .footer__container__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .footer__container__links__p{
        font-size: 1rem;
        text-align: center;
        padding: 0.8rem;
    }
    
    .footer__countries__p{
        padding: 0.2rem;
        padding-top: 0.5rem;
    }
}